#details{
	
	potition: absolute;
	top: 20px;
	left: 50px;
}
#pName{
	
	display: inline-block;
}

editButton{
	float: right;
}
	
#pUsername{
	
	display: inline-block;
}

#pEmail{
	
	display: inline-block;
}

editButton1{
	float: right;
}

editButton2{
	float: right;
}
	