#details{
	
	potition: absolute;
	top: 20px;
	left: 50px;
}

#pName{
	
	display: inline-block;
}
#pUsername{
	display: inline-block;
}

#pEmail{
	
	display: inline-block;
}

editButton{
	float: right;
}


editButton2{
	float: right;
}
	